/*

Group Members
Student Name - Student ID - Contribution(s):

Chevannese Ellis - 2301109 - Cart Page and Checkout Pages

Daniel Lowe - 2300734 - Invoice and Additional Functions

Rajay Tomlinson - 2304909 - Product Catalogue

Craig Williamson - 2301516 - Login, Registration, and Reset Pages  */



body
{
    background-color: #E3E3E3;
}

i
{
    font-size: 50px;
}


.container
{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    font-size: 30px;
}

.box
{
    width:200px;
    height: 230px;
    
}
#box1
{
    
    flex:2;
}

#box2
{
    
    flex:2;
    color:blue;
    font-size:20px;
}

#box3
{
    flex:1;
    color:blue;
}


/*Form Elements*/
/*Appears in index, register, and checkout page*/


.myForm
{
    display:grid;
            grid-template-columns: 1fr 3fr 1fr;
            margin-top: 30px;
            column-gap: 20px;
            row-gap: 40px;
}

  #loginForm
  {
    background-image:linear-gradient(to right, #00EAB2,#90EE91);
    padding:10px;
  }

  #registrationForm
  {
    background-image:linear-gradient(to right, #00EAB2,#90EE91);
    padding:10px;
  }

  #loginForm
  {
    background-image:linear-gradient(to right, #00EAB2,#90EE91);
    padding:10px;
  }

  #shippingForm
  {
    background-image:linear-gradient(to right, #00EAB2,#90EE91);
    padding:10px;
  }
  
  

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  


input,select
{
    width: 100%;
    height:30px;
    margin-bottom: 20px;
    
}

input:is(:hover, :focus) {
    filter: grayscale(0%) drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
  }

  legend
  {
    text-align: center;margin-bottom: 50px;
  }

  .submitButton{
    width: 100%;
      height: 40px;
      margin-bottom: 20px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #4CAF50;
      color: #fff;
      cursor: pointer;
  }
  .submitButton:hover {
    background-color: #3e8e41;
  }

.cancelButton{
  width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    cursor: pointer;
}

.cancelButton:hover {
    background-color: darkred;
  }

/*Shopping Elements*/
/*Appears in product and cart pages*/


.shop-container
{
    display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 30px;
            column-gap: 20px;
            row-gap: 40px;
            background-color: white;
}


.cartItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive columns */
    gap: 20px; /* Space between grid items */
    padding: 20px;
}

.shop-item {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s, background-color 0.3s, box-shadow 0.3s;
}

.shop-item:hover {
    transform: scale(1.05); /* Slightly enlarge the item */
    background-color: #f8f8f8; /* Change background color */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}

.shop-item-image {
    width: 100%;
    height: auto;
}

.shop-item-details {
    padding: 15px;
    text-align: center;
}

.shop-item-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #2c3e50;
}

.desc {
    font-size: 0.9em;
    color: #7f8c8d;
    margin: 10px 0;
}

.shop-item-price {
    
    color: #e74c3c;
    margin: 10px 0;
}

.dollar {
    font-size: 1.5em;
    color: #e74c3c;
    margin: 10px 0;
}


.shop-item-button {
    width: 100%; /* Full width for button */
    height: 40px; /* Adjusted height */
    border-radius: 14px;
    background-color: #fbc534;
    color : black;
    border: thin;
    border-color: #fbc534;
    cursor: pointer;
    transition: background-color 0.3s;
}

.shop-item-button:hover {
    background-color: #FF9900;
}

.cart-item {
    width: 45%;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
    flex-direction: column;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #00EAB2;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #00EAB2;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #90EE91;
    border: none;
    border-radius: 14px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #00EAB2;
}

#cart-button {
    display: flex;
    flex-direction: column;
}

.cart-option {
    margin-bottom: 20px;
    font-size: 1.7em;
}
/*Table Elements
Appears in Checkout Page and Invoice Pages*/

.myTable
{
    display:grid;
            grid-template-columns: 1fr 4fr 1fr;
            margin-top: 30px;
            column-gap: 20px;
            row-gap: 40px;
            margin-bottom: 30px;
}
.content-table
        {
            border-collapse:collapse;
            
            font-size: 0.9em;
            
            background-color: white;
        }
        .content-table thead tr
        {
            background-color: #00EAB2;
            color:white;
            text-align:left;
            font-weight: bold;
        }
        .content-table th,td
        {
            padding: 12px 15px;
        }
        .content-table tbody tr
        {
            border-bottom: 1px solid #00EAB2;
        }

        .content-table tbody tr:nth-of-type(even)
        {
            background-color: white;
        }

        .content-table tbody tr:last-of-type
        {
            border-bottom: 2px solid #00EAB2;
        }
        tr
        {
            word-wrap: break-word;
            white-space: normal; 
        }

        .invoice-container {
            max-width: 800px;
            margin: auto;
            border: 1px solid #000;
            background-color: white;
            padding: 20px;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #000;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .logo {
            width: 100px;
        }

        .store-details {
            text-align: left;
        }

        .shipping-details {
            text-align: right;
            border: 1px solid #000;
            padding: 5px;
            width: 150px;
        }

        .details-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        th, td {
            border-bottom: 1px solid #000;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }

        .totals {
            text-align: right;
            margin-top: 20px;
            margin-right: 50px;
        }

        .footer {
            text-align: center;
            margin-top: 30px;
            font-style: italic;
            font-weight: bold;
            font-size: 1.2em;
        }


.pagination
{
    text-align: center;
    font-size: 25px;
    background-color:#00EAB2;
 
}
.pagination a
{
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}


.pagination a
{
    color:white;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active
{
    background-color: #800020;
    font-weight: bold;
    border-radius: 5px;
}

.pagination a:hover:not(.active)
{
    background-color: rgb(199, 32, 32);
    border-radius: 5px;
}
.left, .right {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #333;
    margin-bottom: 10px;
}
canvas {
    max-width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
#search-bar {
    width: 60%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
#searchButton {
 width: 20%;
height: 40px;
margin-bottom: 20px;
padding: 10px;
border: none;
border-radius: 5px;
background-color: green;
color: #fff;
cursor: pointer;
}
.view-button {
 width: 100%;
height: 40px;
margin-bottom: 20px;
padding: 10px;
border: none;
border-radius: 5px;
background-color: green;
color: #fff;
cursor: pointer;
}

